@use 'variables' as *;

.btn {
	width: 100%;
	border: none;
	padding: 10px;
	color: #FFF;
	cursor: pointer;
    font-size: 14px;
	font-weight: bold;        
    background-color: #FFF;
    
	&:hover {
        opacity: 0.9;
	}
    
	&.add_to_basket {
        margin-top: auto;
		background-color: $color_orange;		
	}

    &.sort_btn {
        color: $color_text_dark;
        border: 1px solid $color_border;

        &:hover {
            background-color: #f5f5f5;
        }

        &.active {
            background-color: $color_border;
        }
    }    
}
