@use 'variables' as *;
@use 'mixins' as *;
@use 'buttons';
@use 'card';
@use 'sort_controls';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.product_grid {
    display: grid;
    gap: $card_gap;
    grid-template-columns: repeat(2, 1fr);

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include desktop {
        grid-template-columns: repeat(4, 1fr);
    }
}
